<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    
<mapper namespace="com.ee.y3.member.MemberDAO">

	<select id="memberLogin" parameterType="com.ee.y3.member.MemberDTO" resultType="com.ee.y3.member.MemberDTO">
	
		<!-- String Type? -->
		select * from member where id = #{id}, pw = #{pw}
		
	</select>




</mapper>