<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.ee.y3.board.qna.QnaDAO">

	<!-- total count -->
	<select id="getTotalCount" resultType="Long" parameterType="Pager">
		select count(num) from qna
		where 
		<choose>
			<when test="kind == 'Writer'">
				writer
			</when>
			<when test="kind == 'Contents'">
				contents
			</when>
			
			<otherwise>
				title
			</otherwise>
		</choose>
		like '%'||#{search}||'%' and num >0
	</select>
	
	
	<!-- List -->
	<select id="getList" resultType="QnaDTO" parameterType="Pager">
		select * from
			(select rownum R, Q.* from
				(select * from qna where
				
				<choose>
						<when test="kind=='Title'">
							title
						</when>
						
						<when test="kind =='Writer'">
							writer
						</when>
						
						<otherwise>
							contents
						</otherwise>
					
				</choose>
								
				  like '%' || #{search} || '%' and num > 0 order by ref desc, step asc) Q)
		where R between #{startRow} and #{lastRow}
	</select>
	
		
	<!-- insert -->
	<insert id="setInsert" parameterType="BoardDTO">
	
		<!-- keyProperty는 파라미터의 이름, order는 after와 before가 있찌만 after는 잘 안되므로 before 사용 -->
		<selectKey keyProperty="num" resultType="java.lang.Long" order="BEFORE">
			select qna_seq.nextval from dual
		</selectKey>
		insert into qna values(#{num}, #{title}, #{writer}, #{contents}, sysdate, 0, #{num}, 0, 0) 
	</insert>
	
	
	<!-- select -->
	<select id="getSelect" parameterType="BoardDTO" resultMap="selectResult">
	
		select Q.*, QF.*
		from qna Q left join qnaFiles QF
		on Q.num = QF.num
		where Q.num = #{num}
		
	</select>
	
	<!-- 1:다 collection -->
	<resultMap type="QnaDTO" id="selectResult">
	
		<id property="num" column="num"/>
		<result property="title" column="title"/>
		<result property="writer" column="writer"/>
		<result property="contents" column="contents"/>
		<result property="hit" column="hit"/>
		<result property="regdate" column="regdate"/>
		<result property="ref" column="ref"/>
		<result property="step" column="step"/>
		<result property="depth" column="depth"/>
		
		<collection property="boardFiles" javaType="java.util.List" ofType="BoardFileDTO">
			<id property="fileNum" column="fileNum"/>
			<result property="fileName" column="fileName"/>
			<result property="OrigineName" column="OrigineName"/>
		</collection>
	
	</resultMap>
	
	
	<!-- delete -->
	<delete id="setDelete" parameterType="BoardDTO">
		delete qna where num=#{num}
	</delete>
	
	<!-- Update -->
	<update id="setUpdate" parameterType="BoardDTO">
		update qna set title = #{title}, writer = #{writer}, contents = #{contents}, hit = #{hit}, regdate = sysdate where num = #{num}
	</update>
	
	<!-- hit -->
	<update id="setHitUpdate" parameterType="BoardDTO">
		update qna set hit=hit+1 where num=#{num}
	</update>
	
	
	<!-- reply update -->
	<update id="setReplyUpdate" parameterType="QnaDTO">
		update qna set step=step+1 where ref=#{ref} and step>#{step}
	</update>
	
	<!-- reply -->
	<insert id="setReply" parameterType="QnaDTO">
		insert into qna values(qna_seq.nextval, #{title}, #{writer}, #{contents}, sysdate, 0, #{ref}, #{step}, #{depth})
	</insert>
	
	<!-- file upload -->
	<insert id="setFileInsert" parameterType="BoardFileDTO">
		insert into qnaFiles values(file_seq.nextval, #{num}, #{fileName}, #{OrigineName})
	</insert>

</mapper>